<body>
  <main>
    <div class="register_el">
      <div class="image-el">
        <img src="../../../assets/Register_page.jpg" alt="register_image" />
      </div>
      <div class="form_el">
        <form #loginForm="ngForm" (ngSubmit)="formSubmitHandler(loginForm)">
          <label for="username">Username:</label>
          <div class="form-group">
            <input
              type="text"
              id="username"
              name="username"
              placeholder="gamer123..."
              ngModel
            />
          </div>

          <label for="email">Email:</label>
          <div class="form-group">
            <input
              type="text"
              id="email"
              name="email"
              placeholder="email@pmail..."
              ngModel
              required
              email
              #emailInput="ngModel"
            />
          </div>

          <label for="password">Password:</label>
          <div class="form-group">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="*****"
              ngModel
              #passwordInput="ngModel"
            />
          </div>

          <label for="re_password">Repeat Password:</label>
          <div class="form-group">
            <input
              type="password"
              name="repassword"
              id="repassword"
              placeholder="*****"
              ngModel
              #repasswordInput="ngModel"
            />
          </div>

          <button id="button">Register</button>
        </form>
        <p>Already have an account ?</p>
        <p id="login_p" routerLink="/login">Login !</p>
      </div>
    </div>
  </main>
</body>
