<main class="main">
  <div class="banner">
    <img src="../../assets/BANNER.png" alt="BANNER" />
  </div>

  <div class="popular-games-title">
    <h2>POPULAR GAMES</h2>
    <p>CHOOSE YOUR OWN</p>
  </div>

  <div>
    <ul class="popular-games-row">
      <li>
        <a routerLink="/details">
          <img
            src="https://upload.wikimedia.org/wikipedia/en/b/be/World_of_Warcraft_Wrath_of_the_Lich_King.png"
            alt="World_of_Warcraft_Wrath_of_the_Lich_King"
          />
        </a>
        <p>World of Warcraft: Wrath of the Lich King</p>
      </li>
      <li>
        <a routerLink="/details">
          <img
            src="https://cdn.europosters.eu/image/1300/posters/the-last-of-us-2-ellie-i76718.jpg"
            alt="The_Last_Of_Us"
          />
        </a>
        <p>The Last Of Us Part 2</p>
      </li>
      <li>
        <a routerLink="/details">
          <img
            src="https://upload.wikimedia.org/wikipedia/en/d/d2/Don%27t_Starve_cover.jpg"
            alt="Don't_Starve"
          />
        </a>
        <p>Don't Starve</p>
      </li>
    </ul>
  </div>

  <div class="popular-games-title">
    <h2>Latest Games</h2>
  </div>

  <div>
    <ul class="other-games-row">
      <li *ngFor="let latesGame of latestGames">
        <a routerLink="/details/{{ latesGame._id }}">
          <img [src]="latesGame.game_img" [alt]="latesGame.game_name" />
        </a>
        <p>{{ latesGame.game_name }}</p>
      </li>
    </ul>
  </div>
</main>
