<main class="main">
  <div class="banner">
    <img src="../../assets/BANNER.png" alt="BANNER" />
  </div>

  <div class="popular-games-title">
    <h2>POPULAR GAMES</h2>
    <p>CHOOSE YOUR OWN</p>
  </div>

  <div>
    <ul class="popular-games-row">
      <li *ngFor="let popularGame of popularGames">
        <a routerLink="/details/{{ popularGame._id }}">
          <img [src]="popularGame.game_img" [alt]="popularGame.game_name" />
        </a>
        <p>{{ popularGame.game_name }}</p>
      </li>
    </ul>
  </div>

  <div class="popular-games-title">
    <h2>Latest Games</h2>
  </div>

  <app-games-row [games]="latestGames"></app-games-row>
</main>
