.main {
    background-image: url("../../assets/BackGroud.png"); 
    background-size: contain;
  }
  
  
  .main p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 2px 0 #fff,
      1px 1px 0 #fff;
      color: #000000;
      font-size: 20px;
  }
  
  /* baner */
  .banner img {
    width: 100%;
  }
  
  /* popular games title */
  .popular-games-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .popular-games-title h2 {
    font-size: 100px;
  }
  .popular-games-title p {
    font-size: 30px;
  }
  
  /* popular games row */
  
  .popular-games-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    list-style: none;
  }
  
  .popular-games-row li {
    margin: 10px;
    text-align: center;
  }
  
  .popular-games-row li img {
    width: 400px;
    height: 600px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 1);
    margin-bottom: 30px;
    transition: transform 0.5s ease;
  }
  .popular-games-row li img:hover {
    transform: scale(1.03);
  }
  
  /* other games row */
  .other-games-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    list-style: none;
  }
  
  .other-games-row li {
    margin: 30px;
    text-align: center;
  }
  
  .other-games-row li img {
    width: 300px;
    height: 300px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 1);
    margin-bottom: 30px;
    transition: transform 0.5s ease;
    object-fit: cover;
    object-position: center top;
  }
  .other-games-row li img:hover {
    transform: scale(1.03);
  }