body {
  background-image: url("../../../assets/BackGroud.png");
}

.banner img {
  width: 100%;
}

.search_container {
  display: flex;
  justify-content: center;
}

.search_panel {
  display: flex;
  border-radius: 10px;
}

.search_panel div {
  margin: 0px 10px;
  cursor: pointer;
  color: white;
}
.search_panel div {
  font-size: 30px;
}
.search_panel div:hover {
  color: black;
}
.search_panel {
  background-color: rgba(10, 2, 34, 0.4);
}

.search_panel input {
  font-size: 30px;
  font-family: "Bevan", serif;
  background-color: rgba(10, 2, 34, 0.4);
  border-radius: 10px;
  border: none;
}

.search_panel button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(10, 2, 34, 0.4);
  color: white;
  font-size: 30px;
}

.other-games-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  list-style: none;
}

.other-games-row li {
  margin: 30px;
  text-align: center;
}

.other-games-row li img {
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 1);
  transition: transform 0.5s ease;
  object-fit: cover;
  object-position: center top;
}
.other-games-row li img:hover {
  transform: scale(1.03);
}

.store_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 2px 0 #fff,
    1px 1px 0 #fff;
}

.store_title h2 {
  font-size: 70px;
}
.other-games-row p {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 2px 0 #fff,
    1px 1px 0 #fff;
}
.search_bar input {
  color: white;
  margin-right:10px ;
}
i img{
  width: 25px;
}