<body>
  <main>
    <div class="banner">
      <img src="../../../assets/Store_Banner.png" alt="banner" />
    </div>
    <div class="search_container">
      <div class="search_panel">
        <div>
          <p (click)="getAllHandler()">All Games</p>
        </div>
        <div>
          <p
            #genreAction
            (click)="getGameByGenreHandler(genreAction.innerText)"
          >
            Action
          </p>
        </div>
        <div>
          <p
            #genreAdventure
            (click)="getGameByGenreHandler(genreAdventure.innerText)"
          >
            Adventure
          </p>
        </div>
        <div>
          <p
            #genreHorror
            (click)="getGameByGenreHandler(genreHorror.innerText)"
          >
            Horror
          </p>
        </div>
        <div>
          <p
            #genrePuzzles
            (click)="getGameByGenreHandler(genrePuzzles.innerText)"
          >
            Puzzles
          </p>
        </div>
        <div>
          <p
            #genreStrategy
            (click)="getGameByGenreHandler(genreStrategy.innerText)"
          >
            Strategy
          </p>
        </div>
        <div>
          <p
            #genreSports
            (click)="getGameByGenreHandler(genreSports.innerText)"
          >
            Sports
          </p>
        </div>
        <div class="search_bar">
          <input #searchParams type="text" placeholder="Search..." />
          <button (click)="searchHandler(searchParams.value)">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="store_title">
      <h1>ALL YOUR FAVORITE GAMES</h1>
      <h2>IN ONE PLACE</h2>
    </div>

    <div>
      <h2 *ngIf="games.length === 0" class="store_title">No Games yet!</h2>
      <ul class="other-games-row">
        <li *ngFor="let game of games">
          <a routerLink="/details">
            <img [src]="game.game_img" [alt]="game.game_name" />
          </a>
          <p>{{ game.game_name }}</p>
        </li>
      </ul>
    </div>
  </main>
</body>
