@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap");

/* Reset CSS */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Agbalumo", system-ui;
}
p {
  font-family: "Bevan", serif;
}

/* Navigation Bar CSS */

nav {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3aaebd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .left-item {
  margin-right: auto;
}

.left-item img {
  width: 120px;
  cursor: pointer;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 50px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-family: "Agbalumo", system-ui;
}
nav ul li img {
  filter: invert(100%);
  width: 50px;
}
nav ul li img:hover {
  cursor: pointer;
  filter: invert(0%);
}

nav ul li a:hover {
  color: black;
}

/* MAIN CSS */
.main {
  background-image: url("./images/BackGroud.png"); 
  background-size: contain;
}


.main p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 2px 0 #fff,
    1px 1px 0 #fff;
    color: #000000;
    font-size: 20px;
}

/* baner */
.banner img {
  width: 100%;
}

/* popular games title */
.popular-games-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popular-games-title h2 {
  font-size: 100px;
}
.popular-games-title p {
  font-size: 30px;
}

/* popular games row */

.popular-games-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  list-style: none;
}

.popular-games-row li {
  margin: 10px;
  text-align: center;
}

.popular-games-row li img {
  width: 400px;
  height: 600px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 1);
  margin-bottom: 30px;
  transition: transform 0.5s ease;
}
.popular-games-row li img:hover {
  transform: scale(1.03);
}

/* other games row */
.other-games-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  list-style: none;
}

.other-games-row li {
  margin: 30px;
  text-align: center;
}

.other-games-row li img {
  width: 300px;
  height: 300px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 1);
  margin-bottom: 30px;
  transition: transform 0.5s ease;
  object-fit: cover;
  object-position: center top;
}
.other-games-row li img:hover {
  transform: scale(1.03);
}

/* FOOOTER CSS */
footer {
  background-color: #3aaebd;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: auto;
}
footer p {
  font-size: 20px;
}
