@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");

/* Reset CSS */
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  flex-direction: column;
}

/* Navigation Bar CSS */

nav {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3aaebd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .left-item {
  margin-right: auto;
}

.left-item img {
  width: 120px;
  cursor: pointer;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 50px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-family: "Agbalumo", system-ui;
}
nav ul li img {
  filter: invert(100%);
  width: 50px;
}
nav ul li img:hover {
  cursor: pointer;
  filter: invert(0%);
}

nav ul li a:hover {
  color: black;
}

/* Main CSS */

.banner img {
  width: 100%;
}

/* FOOOTER CSS */
footer {
  background-color: #3aaebd;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: auto; 
}
footer p {
  margin: 10px 0px 10px 0px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
