body {
  background-image: url("../../../assets/BANNER_form.png");
  background-size: cover;
}

.form_el p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 2px 0 #000, 1px 1px 0 #000;
  color: white;
}

.form_content {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.form_content img {
  padding-top: 100px; /* Adjusted for 100% zoom */
  width: 640px; /* Adjusted for 100% zoom */
}

.form_data {
  padding: 80px 240px 10px 160px; /* Adjusted for 100% zoom */
}

.form_data label {
  font-size: 40px; /* Adjusted for 100% zoom */
}

.form_data h2 {
  font-size: 56px; /* Adjusted for 100% zoom */
}

form input,
select,
textarea {
  font-size: 24px; /* Adjusted for 100% zoom */
  border-radius: 8px; /* Adjusted for 100% zoom */
  font-family: "Bevan", serif;
  margin-bottom: 8px; /* Adjusted for 100% zoom */
  border: 3px solid black; /* Adjusted for 100% zoom */
}

.button {
  border: 4px solid rgb(0, 0, 0); /* Adjusted for 100% zoom */
  border-radius: 16px; /* Adjusted for 100% zoom */
  background-color: #3aaebd;
  color: rgb(255, 255, 255);
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 4px 0 #000, 2px 2px 0 #000;
}

.button:hover {
  border: 4px solid white; /* Adjusted for 100% zoom */
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 2px 0 #ffffff, 1px 1px 0 #ffffff;
  color: #000000;
  cursor: pointer;
}

.error {
  font-size: 16px; /* Adjusted for 100% zoom */
  color: red !important;
}