<body>
  <main>
    <div class="register_el">
      <div class="image-el">
        <img src="../../../assets/Register_page.jpg" alt="register_image" />
      </div>
      <div class="form_el">
        <form #LoginForm="ngForm" (ngSubmit)="formSubmitHandler(LoginForm)">
          <label for="Email">Email:</label>
          <input
            type="text"
            id="email"
            name="email"
            placeholder="email@pmail..."
            ngModel
            #emailInput="ngModel"
            required
          />

          <ng-container *ngIf="emailInput.touched">
            <p class="error" *ngIf="emailInput.errors?.['required']">
              Email is required
            </p>
          </ng-container>

          <label for="password">Password:</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="*****"
            ngModel
            #passwordInput="ngModel"
            required
          />
          <ng-container *ngIf="passwordInput.touched">
            <p class="error" *ngIf="passwordInput.errors?.['required']">
              Password is required
            </p>
          </ng-container>

          <button>Login</button>
        </form>
        <p>Don't have an account ?</p>
        <p id="register_p" routerLink="/register">Register !</p>
      </div>
    </div>
  </main>
</body>
