<body>
  <main>
    <div class="register_el">
      <div class="image-el">
        <img src="../../../assets/Register_page.jpg" alt="register_image" />
      </div>
      <div class="form_el" >
        <form #LoginForm="ngForm" (ngSubmit)="formSubmitHandler(LoginForm)">
          <label for="Email">Email:</label>
          <input
            type="text"
            id="email"
            name="email"
            placeholder="email@pmail..."
            ngModel
            #emailInput="ngModel"
          />

          <label for="password">Password:</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="*****"
            ngModel
            #passwordInput="ngModel"
          />
          <button>Login</button>
        </form>
        <p>Don't have an account ?</p>
        <p id="register_p" routerLink="/register">Register !</p>
      </div>
    </div>
  </main>
</body>
