<body>
  <main *ngIf="game">
    <div class="image">
      <img [src]="game.game_img" [alt]="game.game_name" />
    </div>

    <div class="description">
      <h2>{{ game.game_name }}</h2>
      <p><span class="genre-label">Genre: </span>{{ game.genre }}</p>
      <p>
        <span class="genre-label">Description: </span>{{ game.description }}
      </p>
      <p><span class="genre-label">Price: </span>{{ game.price }} $</p>
      <div class="buttons" *ngIf="user_id">
        <div *ngIf="user_id !== game._ownerId">
          <button>Add to cart</button>
          <button>
            <i (click)="LikeHandler()">
              <img *ngIf="!isLiked" src="../../../assets/Heart_White.png" alt="Like" />
              <img *ngIf="isLiked" src="../../../assets/Heart_Red.png" alt="Like" />
            </i>
          </button>
        </div>
      </div>
      <div class="buttons" *ngIf="user_id === game._ownerId">
        <button (click)="DeleteHangler()">Delete</button>
        <button>Edit</button>
      </div>
    </div>
  </main>
</body>
