<body>
  <main *ngIf="game">
    <div class="image">
      <img [src]="game.game_img" [alt]="game.game_name" />
    </div>

    <div class="description">
      <h2>{{ game.game_name }}</h2>
      <p><span class="genre-label">Genre: </span>{{ game.genre }}</p>
      <p>
        <span class="genre-label">Description: </span>{{ game.description }}
      </p>
      <p><span class="genre-label">Price: </span>{{ game.price }} $</p>
      <div class="buttons" *ngIf="user_id">
        <div *ngIf="user_id !== game._ownerId" class="button-container">
          <button
            *ngIf="!isBought"
            (click)="addToCartHandler()"
            class="add-to-cart-button"
          >
            Add to cart
          </button>
          <button
            *ngIf="isBought"
            (click)="removeFromCartHandler()"
            class="add-to-cart-button"
          >
            Remove from cart
          </button>
          <div class="like-container">
            <button class="like-button" (click)="LikeHandler()">
              <i>
                <img
                  *ngIf="!isLiked"
                  src="../../../assets/Heart_White.png"
                  alt="Like"
                />
                <img
                  *ngIf="isLiked"
                  src="../../../assets/Heart_Red.png"
                  alt="Like"
                />
              </i>
            </button>
            <p class="count">{{ likesCount }}</p>
          </div>
        </div>
      </div>
      <div class="buttons" *ngIf="user_id === game._ownerId">
        <button (click)="DeleteHandler()">Delete</button>
        <button routerLink="/edit/{{ game._id }}">Edit</button>
      </div>
    </div>
  </main>
</body>
