<div class="cart">
  <ng-container *ngIf="isShown">
    <app-modal (modalClosed)="onModalClosed($event)" [isShown]="true" />
  </ng-container>
  <header>
    <h2>My Cart</h2>
  </header>
  <div class="item_hr" *ngFor="let cartGame of cartGames">
    <hr />
    <div class="item">
      <div class="img_div">
        <a [routerLink]="'/details/' + cartGame.details_id">
          <img [src]="cartGame.gameImage" [alt]="cartGame.gameName" />
        </a>
      </div>
      <div class="info">
        <p>
          {{ cartGame.gameName | slice : 0 : 22
          }}{{ cartGame.gameName.length > 22 ? "..." : "" }}
        </p>
        <p>Price: {{ cartGame.gamePrice }} $</p>
        <button (click)="onDeleteHandler(cartGame._id)">Delete</button>
      </div>
    </div>
  </div>
  <hr />
  <div class="empty_cart" *ngIf="cartGames.length === 0">
    <img id="noItemsImg" src="../../../assets/NoItems.png" alt="No Items Yet" />
    <hr />
  </div>
  <div class="total">
    <h2>Total: {{ totalPrice.toFixed(2) }} $</h2>
  </div>
</div>
