p {
  text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 1px 0 #fff, 0.5px 0.5px 0 #fff;
  color: #000000;
  font-size: 24px; /* Adjusted for 100% zoom */
  margin-bottom: 8px; /* Adjusted for 100% zoom */
}

h2 {
  font-size: 56px; /* Adjusted for 100% zoom */
  text-shadow: -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 1px 0 #fff, 0.5px 0.5px 0 #fff;
  color: #000000;
  margin: 8px 0px 56px; /* Adjusted for 100% zoom */
}

.cart {
  background-image: url("../../../assets/BackGroud.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  align-items:center;
  padding: 24px; /* Adjusted for 100% zoom */
}

.total {
  display: flex;
  justify-content: center;
}

.img_div img {
  border-radius: 20px;
  width: 200px; /* Adjusted for 100% zoom */
  margin: 40px; /* Adjusted for 100% zoom */
  box-shadow: 0 16px 40px rgba(0, 0, 0, 1); /* Adjusted for 100% zoom */
  transition: transform 0.5s ease;
  object-fit: cover;
  object-position: center top;
  cursor: pointer;
}

.img_div img:hover {
  transform: scale(1.03);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 48px; /* Adjusted for 100% zoom */
}

hr {
  width: 90%; /* Adjusted for 100% zoom */
  margin: 0 auto; /* Center the hr horizontally */
  border: 1px solid white; /* Remove the default border */
}

button {
  margin: 8px 8px 0px 0px; /* Adjusted for 100% zoom */
  font-size: 24px; /* Adjusted for 100% zoom */
  border: 4px solid rgb(0, 0, 0); /* Adjusted for 100% zoom */
  border-radius: 16px; /* Adjusted for 100% zoom */
  background-color: #3c5d61;
  color: rgb(255, 255, 255);
  font-family: "Bevan", serif;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 4px 0 #000, 2px 2px 0 #000;
}

button:hover {
  border: 4px solid white; /* Adjusted for 100% zoom */
  text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 4px 0 #ffffff, 2px 2px 0 #ffffff;
  color: #000000;
  cursor: pointer;
}

.empty_cart {
  margin: 80px; /* Adjusted for 100% zoom */
}
#noItemsImg{
  width: 300px;
}