nav {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3aaebd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #fff;
}

nav .left-item {
  margin-right: auto;
}

.left-item img {
  width: 100px; /* Adjusted for 100% zoom */
  cursor: pointer;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px; /* Adjusted for 100% zoom */
  position: relative;
}

nav ul li a {
  text-decoration: none;
  font-size: 24px; /* Adjusted for 100% zoom */
  font-family: "Agbalumo", system-ui;
  cursor: pointer;
}

.active {
  color: black;
}

.activeImg {
  filter: invert(100%);
}

nav ul li img {
  filter: invert(100%);
  width: 40px; /* Adjusted for 100% zoom */
}

nav ul li img:hover {
  cursor: pointer;
  filter: invert(0%);
}

nav ul li img#cart {
  width: 50px; /* Adjusted for 100% zoom */
}

nav ul li img #cart:hover {
  filter: invert(100%);
}

nav ul li p {
  width: 10px; /* Adjusted for 100% zoom */
  position: absolute;
  top: 8px; /* Adjusted for 100% zoom */
  right: 180px; /* Adjusted for 100% zoom */
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px; /* Adjusted for 100% zoom */
  opacity: 0.8;
  pointer-events: none;
}

nav ul li a:hover {
  color: black;
}