nav {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3aaebd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .left-item {
  margin-right: auto;
}

.left-item img {
  width: 120px;
  cursor: pointer;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 20px;
  position: relative;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-family: "Agbalumo", system-ui;
  cursor: pointer;
}
nav ul li img {
  filter: invert(100%);
  width: 50px;
}
nav ul li img:hover {
  cursor: pointer;
  filter: invert(0%);
}

nav ul li a:hover {
  color: black;
}

nav ul li img#cart {
  width: 65px;
  
}

nav ul li img #cart:hover {
  filter: invert(100%);
  width: 65px;
  margin-top: 0px; /* Adjust the margin-top value to position it lower */
}
nav ul li p {
  width: 12px;
  position: absolute;
  top: 10px; /* Adjust this value to position the count relative to the cart icon */
  right: 195px; /* Adjust this value to position the count relative to the cart icon */
  background-color: red; /* Adjust styles as needed */
  color: white; /* Adjust styles as needed */
  border-radius: 50%; /* Ensures the count appears in a circular shape */
  padding: 5px 10px; /* Adjust padding as needed */
  opacity: 0.8;
  pointer-events: none;
}
