    <nav>
    <div class="left-item">
        <img src="../../../assets/Logo nav.png" alt="Logo" />
    </div>
    <ul class="right-items">
        <li><a routerLink="/store">Store</a></li>
        <li><a routerLink="/add_game">Add Game</a></li>
        <li><a routerLink="/about">About</a></li>
        <li>
            <div>
                <a routerLink="/register">
                <img
                    src="../../../assets/Profile Img nav.png"
                    alt="Profile"
                />
                </a>
            </div>
        </li>
    </ul>
    </nav>
