<nav>
  <div class="left-item">
    <a routerLink="/">
      <img src="../../../assets/Logo nav.png" alt="Logo" />
    </a>
  </div>
  <ul class="right-items">
    <li><a routerLink="/store">Store</a></li>
    <li *ngIf="userService.isLogedin()">
      <a routerLink="/add_game">Add Game</a>
    </li>
    <li><a routerLink="/about">About</a></li>
    <li>
      <div *ngIf="!userService.isLogedin()">
        <a routerLink="/register">
          <img src="../../../assets/Profile Img nav.png" alt="Profile" />
        </a>
      </div>
    </li>
    <li>
      <a routerLink="/cart" *ngIf="userService.isLogedin()">
        <img
          id="cart"
          src="../../../assets/shopping-cart-icon-illustration-free-vector.png"
          alt="Cart"
        />
      </a>
    </li>
    <li>
      <a *ngIf="userService.isLogedin()" (click)="logoutHandler()">Logout</a>
    </li>
  </ul>
</nav>
