.loader {
  border-radius: 10px;
  width: 240px; /* Adjusted width */
  height: 240px; /* Adjusted height */
  display: inline-block;
  position: relative;
  color: #FFF;
  border: 1px solid;
  box-sizing: border-box;
  animation: fill 2s linear infinite alternate;
}

@keyframes fill {
  0% {
    box-shadow: 0 0  inset;
  }
  100% {
    box-shadow: 0 -300px inset;
  }
}
    